body {
    background-color: #111;
}

#content-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

#center-content {
    display: inline-block;
    font-size: 0;
}

#center-content span {
    display: block;
    font-size: 2rem;
    line-height: 1.5;
}

#center-content a {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: 0 5px;
}
